# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
test-results
playwright-report
.playwright

# Production
dist
build

# Database dumps written by server/backup.js - the family's full financial
# history in plain text. Never commit these.
backups
*.backup.json

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
